<html>
    <style>
    a:link {color: black}
    a:visited {color:green}
    a:hover {color:pink}
    table,th,td{border: 2px solid black;}
    </style>


    <h1 style="text-align:center; color:goldenrod">Teachers Data</h1>
    <h3 style="text-align:center; margin-top: -15px;"><a href="/teachers/add">add teacher</a></h3>

    <table style="width: 100%">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Options</th>
        </tr>
            
            <% for(let iTeachers = 0 ; iTeachers<teachersAll.length ; iTeachers++) {%>
        <tr>
           <% console.log(teachersAll[iTeachers]) %>
            <td style="text-align: center"><%= iTeachers+1 %></td>
            <td style="text-align: center"><%= teachersAll[iTeachers].firstName %></td>
            <td style="text-align: center"><%= teachersAll[iTeachers].lastName %></td>
            <td style="text-align: center"><%= teachersAll[iTeachers].email %></td>
            <% if(!teachersAll[iTeachers].subjectId){ %>
                <td style="text-align: center"><%= "unassigned" %></td>
            <%  } else{ %>
                <td style="text-align: center"><%= teachersAll[iTeachers].Subject.subjectName %></td>
            <% } %>
            <td style="text-align: center"><a href="/teachers/edit/<%= teachersAll[iTeachers].id %>">Edit</a> | <a href="/teachers/delete/<%= teachersAll[iTeachers].id %>" onclick= 'return confirm("WARNING! \nAre you sure about deleting this teacher?")'>Delete</a></td>
        </tr>
        <% } %>
    </table>
</html>