<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
    <% include partials/menu %>
    <div class="container container-fluid">
        <h3 class="bg-3 text-center"> Edit Data Teacher</h3>
        <form method="POST" action="/teacher/edit/<%- detailTeacher.id %>">
            <div class="form-field">
                <label for="message">First Name</label>
                <input name="firstName" type="text" value="<%- detailTeacher.firstName %>" />
            </div>
            <div class="form-field">
                <label for="email">Last Name</label>
                <input name="lastName" type="text" value="<%- detailTeacher.lastName %>" />
            </div>
            <div class="form-field">
                <label for="email">Email</label>
                <input  name="email" type="email" value="<%- detailTeacher.email %>" />
            </div>
            <div class="form-field">
                    <label for="email">Subject Id</label>
                    <input  name="SubjectId" type="text" value="<%- detailTeacher.SubjectId %>" />
            </div>
            <div class="form-actions">
                <button  name="button" type="submit">Send</button>
            </div>
        </form> 
    </div>
</body>
</html>