<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
    <% include partials/menu %> 

    <div class=" container container-fluid">    
        <h3 class="bg-3 text-center"> Teachers </h3>
        <h4 class="add text-center"> <a href="teacher/add">Add Teachers Data </a></h4><br>
        <%  if(dataTeacher.length > 0) { %>
        <table class="table table-striped" >
            <thead>
                <tr>
                    <th scope="col"> Id</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th> 
                    <th scope="col">Email</th>
                    <th scope="col"> Subject </th>
                </tr>
            </thead>
            <tbody>
                <% dataTeacher.forEach(teacher=>{ %>
                <tr>
                    <th> <%= teacher.id %></th>
                    <th> <%= teacher.firstName %> </th>
                    <th> <%= teacher.lastName %>  </th> 
                    <th> <%= teacher.email %> </th>
                    <% if(teacher.SubjectId == null || teacher.SubjectId == 0) { %> 
                        <th> unassigned  </th>
                    <% } else { %>
                        <th> <%= teacher.Subject.subjectName %> </th>  
                    <% } %>
                    <th> <a href="teacher/edit/<%- teacher.id %>"> Edit </a> |  <a href="teacher/delete/<%- teacher.id %>" onclick="return confirm('Are you sure?')"> Delete </a> </th>
                </tr> 
                <% }) %>
            </tbody>
        </table>
        <% } else { %>
            <h1>Data tidak ada </h1>
        <% } %>
    </div>

</body>
</html>