<html>
  <style>
  
/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
} 

  </style>
    <h1 style="text-align:center; color:blue">Edit Teacher Data</h1>
    <h3 style="text-align:center; margin-top: -15px;"><a href="/teachers">show all data</a></h3>
  
  
    <% if(errDeets) { %>
      <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <% if(errDeets === "Invalid validator function: isUnique") {%> 
          <strong>Validation error: email is not unique</strong>
          <% } else { %>
          <strong>Validation error: email format is incorrect</strong>
          <% } %>
      </div>
      <% } %>
  
  
  <form method="POST">
    First name:<br>
    <input type="text" value="<%= tData.firstName %>" name="firstname"><br>
    Last name:<br>
    <input type="text" value="<%= tData.lastName %>" name="lastname"><br>
    Email:<br>
    <input type="int" value="<%= tData.email %>" name="email"><br>
    Subject: <br>
    <select name= "subjectId">
      <% sbData.forEach( (element, idElement) => { %>
        <option value="<%= idElement+1 %>"><%= element %></option>
     <% }) %>
    </select>
    <input type="submit" value="Edit Teacher">
  </form> 
</html>