<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Teacher</title>
  <style>
     * {
      font-family: courier; 
      color: rgb(13, 47, 48);
    }
    h1 {
      color:darkblue
      
    }
    table {
    border-collapse: collapse;
    width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    tr:hover {background-color:#a3c8db;}
  </style>
</head>
<body>
  <h1>Teachers Data</h1>
    <table style="width:100%">
        <tr>
          <th>id</th>
          <th>Firstname</th>
          <th>Lastname</th> 
          <th>Email</th>
          <th>Subject</th>
          <th> Option</th>
        </tr>
        <!-- <%= data[0] %> -->
        <!-- harus looping diluar tr biar bisa kebawah  -->
        <% for(let i = 0; i < data.length ; i++){ %> 
          <tr>
            <td><%= data[i].id %></td>
            <td><%= data[i].FirstName %></td>
            <td><%= data[i].LastName %></td>
            <td><%= data[i].email %></td>
            <td><%= data[i].Subject.SubjectName %></td>

            <td> <a href="teacher/edit/<%=data[i].id%>">Edit</a> | 
              <a onclick="return confirm('Are you sure')" href="teacher/delete/<%=data[i].id%>">Delete</a>
            </td>
          </tr>
         <% }%>
      </table>
</body>
</html>