<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><%= info %></h1>
    <table>
        <tr>
            <th>id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Options</th>
        </tr>
        <% for(let i = 0; i < data.length; i++) { %>
        <tr>
            <td><%= data[i].id %></td>
            <td><%= data[i].firstName %></td>
            <td><%= data[i].lastName %></td>
            <td><%= data[i].email %></td>
            <td><%= data[i].Subject %></td>
            <td><a href='teacher/delete/<%= data[i].id %>'>delete</a>
            <a href='teacher/edit/<%= data[i].id %>'>edit</a></td>
        </tr>
        <% } %>
    </table>
    <a href='/teacher/add'>Add Teacher</a>
    <a href='/subject'>Subject list</a>
</body>
</html>